#main_visual{
  position: relative ;
  background-size: cover;
  background-image: url( ../img/background.png) ;
  width: 100% ;
  height: 100% ;
  color: #fff ;
  header{
    position: absolute ;
    top: 10% ;
    left: 25% ;
    font-size: 44px ;
  }
  .main_title{
    position: absolute ;
    top: 25vh ;
    left: 25% ;
    h2{
      font-size: 24px ;
    }
    p{
      font-size: 96px ;
      font-weight: 700;
    }
  }
}


main{
  max-width: 1024px ;
  margin: 0 auto ;
  padding: 120px 0px ;
}

.block_member{
  display: flex ;
  gap: 36px;
  background: #F7F7F7;
  border-radius: 12px ;
  max-width: 1024px ;
  margin: 0 auto 80px auto;
  padding: 64px ;
  font-size: 16px ;
  figure{
    width: 100%;
    img{
      border-radius: 8px ;
    }
    figcaption{
      margin: 16px 0 0 0;
      font-weight: 700;
      font-size: 22px ;
      .label{
        margin: 0 0 8px 0;
        font-size: 16px ;
        color: #989898 ;
      }
    }
  }
  .inform{
    h3{
      font-size: 32px ;
      font-weight: 700 ;
      margin: 0 0 8px 0;
      letter-spacing: 0.08em;
      background: url(../img/orange_pen_icon.png) no-repeat left top;
      text-indent: 1.4em ;
    }

    p{
      margin: 0 0 40px 2.6em;
    }

    p:last-child{
      margin: 0 0 0 2.6em;
    }
  }
}




////////animation///////////

// テロップアニメ
.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  gap: 1rem;
  font-size: 50rem;
  width: 200% ;
  position: absolute ;
  top: 89vh ;
}
.marquee-inner {
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0%   { translate: 0; }
  100% { translate: calc(-100% - 1rem); }
}

// サークルアニメ
.keyvisual{
  position: absolute;
  top: 30px ;
  left: 30px ;
  .pen{
    position: absolute ;
    top: calc( 63% - 40px)  ;
    left: calc( 64% - 40px)  ;
  }
}

.keyvisual__scroll{
  width: 8vw;
  position: absolute;
  top: 0 ;
  left: 0 ;
}

.keyvisual__scroll--circle{
  height: auto;
  width: 100%;
  animation: rotate 15s linear infinite;
}

// .keyvisual__scroll--arrow{
//   height: auto;
//   width: 2vw;
//   position: absolute;
//   top: 48%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}